<div>
  <mat-card>
    <form [formGroup]="editBookForm" class="editBook-form">
      <br>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="ISBN" formControlName="isbn" #isbn>
        <mat-error *ngIf="editBookForm.controls['isbn'].errors?.required">
          ISBN is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Title" formControlName="title" #title>
        <mat-error *ngIf="editBookForm.controls['title'].errors?.required">
          Title is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Author" formControlName="author" #author>
        <mat-error *ngIf="editBookForm.controls['author'].errors?.required">
          Author is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea type="text" matInput placeholder="Description" formControlName="description" #description></textarea>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Subject" formControlName="subject" #subject>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Original Price" formControlName="oprice" #oprice>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Current Price" formControlName="cprice" #cprice>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Image URL" formControlName="url" #url>
      </mat-form-field>
      <br>
      <br>
      <button mat-button type="button" routerLink="/Member" [disabled]="editBookForm.pristine || editBookForm.invalid" (click)="editBook(isbn.value, title.value, author.value, description.value, subject.value, cprice.value, oprice.value, url.value)">
        Save</button>
      <button mat-button type="button" routerLink="/Member">Cancel</button>
    </form>
  </mat-card>
</div>