<mat-nav-list>
  <a mat-list-item (click)="displaymajorform()">Update Major</a>
  <a mat-list-item (click)="displayphoneform()">Update Phone</a>
  <a mat-list-item (click)="displaynameform()">Update Name</a>
  <a mat-list-item (click)="displaypasswordform()">Update Password</a>
  <a mat-list-item (click)="displayinfo()">My profile</a>
  <a mat-list-item (click)="opendialog()">Delete account</a>
</mat-nav-list>

<div *ngIf="majorform">
  <form [formGroup]="updatemajorform" class="updatemajorform">
  <p><mat-form-field>
    <input type="major" matInput placeholder="Major" formControlName="major" #major>
  </mat-form-field>
  </p>
</form>
  <button mat-button (click)="updatemajor(major.value, uname)" [disabled]="updatemajorform.pristine">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>

<div *ngIf="nameform"> <form [formGroup]="updatenameform" class="updatenameform">
  <p><mat-form-field>
    <input type="name" matInput placeholder="Name" formControlName="name" #name>
  </mat-form-field>
  </p>
</form>
  <button mat-button (click)="updatename(name.value, uname)" [disabled]="updatenameform.pristine">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>

<div *ngIf="phoneform"> <form [formGroup]="updatephonenumform" class="updatephonenumform">
  <p><mat-form-field>
    <input type="phone" matInput placeholder="Phone Number" formControlName="phone" #phone>
  </mat-form-field>
  </p>
</form>
  <button mat-button (click)="updatephonenum(phone.value, uname)" [disabled]="updatephonenumform.pristine">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>

<div *ngIf="passwordform"> <form [formGroup]="updatepasswordform" class="updatepasswordform">
  <p><mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password" #password>
  </mat-form-field>
  </p>
</form>
  <button mat-button (click)="updatepassword(password.value)" [disabled]="updatepasswordform.pristine">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>

<div *ngIf="info">
  <mat-card>
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="uname">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.uname}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="major">
        <th mat-header-cell *matHeaderCellDef> Major </th>
        <td mat-cell *matCellDef="let element"> {{element.major}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayMemberColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayMemberColumns"></tr>
    </table>
  </mat-card>
</div>
