<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Add New Book</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="addBookForm" class="addBook-form">
      <br>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="ISBN" formControlName="isbn" #isbn>
        <mat-error *ngIf="addBookForm.controls['isbn'].errors?.required">
          ISBN is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Title"  formControlName="title" #title>
        <mat-error *ngIf="addBookForm.controls['title'].errors?.required">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Author"  formControlName="author" #author>
        <mat-error *ngIf="addBookForm.controls['author'].errors?.required">
          Author is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea type="text" matInput [maxlength]="75" placeholder="Description" formControlName="description" #description></textarea>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Subject" formControlName="subject" #subject>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Original Price" formControlName="oprice" #oprice>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Current Price" formControlName="cprice" #cprice>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Image URL" formControlName="url" #url>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br><br>
      <button mat-button type="button" [disabled]="addBookForm.pristine || addBookForm.invalid"
              (click)="createBook(isbn.value, title.value, author.value, description.value, subject.value, oprice.value, cprice.value, url.value)">Add</button>
    </form>
  </mat-card>
</div>
