table {
    width: 100%
}
.mat-column-right {
    text-align: center;
}
.bubble {
    background: red;
    color: white;
    display: inline-block;
    width: 24px;
    line-height: 24px;
    border-radius: 12px;
    text-align: center;
    position: absolute;
    right: 90px;
    top: 3px;
    /* top: 143px; */
    font-size: 14px;
}
.mat-cell{
    padding: 8px 8px 8px 0;
}
.buttonOut {
  background-color: rgba(0, 0, 255, 0.3);
  position: absolute;
  right: 10px;
  top: 5px;
  /* top: 150px; */
}
.buttonNoti {
  background-color: rgba(0, 0, 255, 0.3);
  position: absolute;
  right: 100px;
  top: 5px;
  /* top: 150px; */
}
h3 {
  position:relative;
}
.menu {
  text-align: center;
}
/* .button {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-style: wavy;
} */
