<br><br>
<h3>Welcome to the BookClub, {{username}}
    <button mat-button class="buttonNoti" (click)="updateNoti()">Notifications</button>
    <span class="bubble" ng-if="count">{{noti}}</span>
    <button mat-button class="buttonOut" (click)="logout()">Logout</button>
</h3>
<br><br>
<div class="menu">
<button mat-button class="button" (click)="showSearch()">Search Books</button>
<button mat-button class="button" (click)="showAddBook()">Add a Book</button>
<button mat-button class="button" (click)="showMemberBooks()">Manage my books</button>
<button mat-button class="button" (click)="showInterestedBooks()">Show Books I'm Interested In</button>
<button mat-button class="button" (click)="showSettings()">Account Settings</button>
</div>

<div *ngIf="showNoti">
  <mat-card>
    <br>
    <table mat-table [dataSource]= data2>
      <ng-container matColumnDef="uname">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.memberUname}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
    </table>
  </mat-card>
</div>

<div *ngIf="memberBooks">
  <br>
  <mat-card>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]= data1>
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef> ISBN </th>
        <td mat-cell *matCellDef="let element"> {{element.Isbn}} </td>
      </ng-container>


      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
      </ng-container>


      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.Author}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" routerLink="/Edit/{{element.unid}}">Edit</button>
          <button mat-button color="warn" (click)="deleteBook(element.unid)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>

<div *ngIf="interested">
  <br>
  <mat-card>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]= interestedMemberBooks>
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef> ISBN </th>
        <td mat-cell *matCellDef="let element"> {{element.Isbn}} </td>
      </ng-container>


      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element" routerLink="/Detail/{{element.unid}}" style="cursor: pointer; color: blue"> {{element.Title}} </td>
      </ng-container>


      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.Author}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="warn" (click)="deleteIntBook(element.unid)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>

<div *ngIf="search">
  <app-search></app-search>
</div>

<div *ngIf="addBook">
  <app-add-book></app-add-book>
</div>

<div *ngIf="settings">
  <app-settings></app-settings>
</div>
