<div *ngIf="show">
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Login</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="loginForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input type="email" matInput placeholder="Email" formControlName="email" #email>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input type="password" matInput placeholder="Password" formControlName="password" #password>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-button (click)="login(email.value, password.value)" [disabled]="loginForm.pristine">Login</button>

    </form>
  </mat-card>
</div>

<div *ngIf="!show">
  <mat-nav-list>
    <a mat-list-item href="/Member">Member Home</a>
  </mat-nav-list>
</div>

<div *ngIf="loginError">
  <p>
    Username & password not recognized, please try again
  </p>
</div>

<mat-nav-list>
  <button mat-button type="button" routerLink="/Search">Search Books</button>
  <button mat-button type="button" routerLink="/Register">Register</button>
</mat-nav-list>


