<div *ngIf="show">
  <mat-list>
    <mat-list-item>Title: {{data?.Title}}</mat-list-item>
    <mat-list-item>Author: {{data?.Author}}</mat-list-item>
    <mat-list-item>Price: ${{data?.listPrice}}</mat-list-item>
    <mat-list-item>Description: {{data?.Description}}</mat-list-item>
    <mat-list-item>Owner: {{data?.memberUname}}</mat-list-item>
    <img src={{data?.Image_URL}} alt="book cover" width="135" height="135" align="middle">
    <mat-divider></mat-divider>
    <button mat-button type="button" (click)="interested()">I am interested in this book</button></mat-list>
</div>

<div *ngIf="notLoggedIn">
  Please <a href="/Home">login</a> to see owner information
</div>

<div *ngIf="displayInfo">
  <mat-list>
    <mat-list-item>Owner: {{member?.uname}}</mat-list-item>
    <mat-list-item>Name: {{member?.name}}</mat-list-item>
    <mat-list-item>Email: {{member?.email}}</mat-list-item>
    <mat-list-item>Phone: {{member?.phone}}</mat-list-item>
  </mat-list>
</div>
<button mat-button type="button" (click)="back()"> Back</button>
