
<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Search Books</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="searchForm" class="search-form">
      <mat-form-field>
        <mat-select placeholder="Search By..." forControlName="type" #type>
          <mat-option value="ISBN">ISBN</mat-option>
          <mat-option value="Title">Title</mat-option>
          <mat-option value="Author">Author</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="field-full-width">
        <input type="value" matInput placeholder="Search" formControlName="value" #value>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-button type="button" (click)="search(type.value, value.value)" [disabled]="searchForm.pristine">Search</button>
      <button mat-button type="button" (click)="searchAll()">Search All Books</button>
    </form>
  </mat-card>
</div>


<div *ngIf="display">
  <br>
  <mat-card>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="book">
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef> ISBN </th>
        <td mat-cell *matCellDef="let element"> {{element.Isbn}} </td>
      </ng-container>


      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element" routerLink="/Detail/{{element.unid}}" style="cursor: pointer; color: blue"> {{element.Title}} </td>
      </ng-container>


      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.Author}} </td>
      </ng-container>


      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>


      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.Subject}} </td>
      </ng-container>


      <ng-container matColumnDef="origPrice">
        <th mat-header-cell *matHeaderCellDef> Original Price </th>
        <td mat-cell *matCellDef="let element"> {{element.origPrice}} </td>
      </ng-container>


      <ng-container matColumnDef="curPrice">
        <th mat-header-cell *matHeaderCellDef> Current Price </th>
        <td mat-cell *matCellDef="let element"> {{element.listPrice}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="link"  *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <br>
  </mat-card>
</div>

<div *ngIf="error">
  <p>
    No match on search, try again
  </p>
</div>

